__pycache__/
.cache/
*.pyc
.ipynb_checkpoints
docs/build/*
docs/source/api/*
docs/source/generated/*
docs/source/auto_examples/*
htmlcov/
.coverage
.coverage.xml
pyhgf.egg-info
build
coverage.xm
.mypy_cache
.pytest_cache
dist/*
.DS_Store
**/.DS_Store