__pycache__/
.cache/
*.pyc
.ipynb_checkpoints
doc/*.aux
doc/*.log
doc/*.out
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.ps
doc/figures/*/*.eps
doc/figures/*/*.bak
doc/figures/*/*.dvi
doc/figures/*/*.aux
doc/figures/*/*.log
htmlcov/
.coverage
.coverage.xml
ghgf.egg-info
build
coverage.xm
.mypy_cache
.pytest_cache