-e .
sphinx>=7.2.6
pydata-sphinx-theme>=0.15.2
sphinxcontrib-bibtex>=2.6.1
docutils>=0.20.1
myst-nb>=1.0.0
numpydoc>=1.6.0
myst-parser>=2.0.0
graphviz
watermark
systole>=0.3.0
sphinx-togglebutton
sphinx-design
sphinx-exercise